<div class="col-md-6 offset-md-3">
    <br>
    <h3 class="text-center">Editar Gestor</h3>
    <br>
    <form (ngSubmit)="onSubmit()" #gestorForm="ngForm">
        <div class="form-group">
            <label>Usuario: </label>
            <input type="text" class="form-control" id="gestor" [(ngModel)]="gestor.usuario" name="usuario" required
                minlength="4" maxlength="30" placeholder="Escriba su nombre completo" #usuario="ngModel">
            <div class="alert alert-danger" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
                <div *ngIf="usuario.errors">
                    Escriba su nombre completo por favor
                </div>
                <div *ngIf="usuario.errors">
                    Debe contener 4 caracteres mínimo
                </div>
                <div *ngIf="usuario.errors">
                    Debe contener 30 caracteres máximo
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Password: </label>
            <input type="password" class="form-control" id="password" [(ngModel)]="gestor.password" name="password"
                required minlength="4" maxlength="25" placeholder="Escriba su contraseña" #password="ngModel">
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors">
                    Escriba su contraseña por favor
                </div>
                <div *ngIf="password.errors">
                    Debe contener 4 caracteres mínimo
                </div>
                <div *ngIf="password.errors">
                    Debe contener 25 caracteres máximo
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Correo: </label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="gestor.correo" name="correo"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required
                placeholder="Escriba el correo" #correo="ngModel">
            <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                <div *ngIf="correo.errors">
                    Escriba el correo por favor
                </div>
                <div *ngIf="correo.errors">
                    Escriba el correo en el siguiente formato: user100@email.com
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>