<br>
<h3>Detalles de la transferencia</h3>
<div>
    <div>
        <label><b>ID: </b> {{transferencia.id}}</label>
    </div>
    <div>
        <label><b>Id Ordenante: </b> {{transferencia.id_ordenante}}</label>
    </div>
    <div>
        <label><b>Id Beneficiario: </b> {{transferencia.id_beneficiario}}</label>
    </div>
    <div>
        <label><b>Importe: </b> {{transferencia.importe}}</label>
    </div>
    <div>
        <label><b>Concepto: </b> {{transferencia.concepto}}</label>
    </div>
    <div>
        <label><b>Fecha: </b> {{transferencia.fecha}}</label>
    </div>
</div>